# Bachelor-Notebook

### Data sources:
- [Games_of_all_time.csv](https://www.kaggle.com/datasets/xcherry/games-of-all-time-from-metacritic)
- [metacritic_games.csv](https://www.kaggle.com/datasets/skateddu/metacritic-all-time-games-stats)
- [Video_Games_Sales_as_at_22_Dec...](https://www.kaggle.com/datasets/rush4ratio/video-game-sales-with-ratings)

##### Note:

### "Text"

In [2]:
#Initialising the needed libaries
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

Code der Stata in Phython "aktiviert" 
von: https://www.stata.com/python/pystata/install.html

In [3]:
import sys
sys.path.append('C:/Program Files/Stata17/utilities')
from pystata import config
config.init('mp')

  ___  ____  ____  ____  ____ ©
 /__    /   ____/   /   ____/      17.0
___/   /   /___/   /   /___/       MP—Parallel Edition

 Statistics and Data Science       Copyright 1985-2021 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-STATA-PC        https://www.stata.com
                                   979-696-4600        stata@stata.com

Stata license: Unlimited-user 4-core network, expiring 29 Oct 2023
Serial number: 501709301768
  Licensed to: Uni Hamburg
               Universität Hamburg

Notes:
      1. Unicode is supported; see help unicode_advice.
      2. More than 2 billion observations are allowed; see help obs_advice.
      3. Maximum number of variables is set to 5,000; see help set_maxvar.

In [4]:
%%stata
help tab

Tables of frequencies
---------------------

    See

        tabulate oneway       for one-way tables of frequencies

        tabulate twoway       for two-way tables of frequencies

    and see

        tabulate, summarize() for one- and two-way tables of summary
                                statistics

"Text"

In [5]:
#Data from the Main-Dataset
metacrit_data = pd.read_csv(r"data\games_of_all_time.csv")

In [6]:
#Data from the second Dataset with release Dates
releasedata = pd.read_csv(r"data\metacritic_games.csv")

In [7]:
#Setting the option that all columns are shown.
pd.set_option('display.max_columns', 1000)

In [8]:
metacrit_data

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",https://www.metacritic.com/game/nintendo-64/th...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,https://www.metacritic.com/game/wii/super-mari...,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",https://www.metacritic.com/game/wii/super-mari...,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,https://www.metacritic.com/game/gamecube/metro...,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,https://www.metacritic.com/game/switch/super-m...,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+
...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",https://www.metacritic.com/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,https://www.metacritic.com/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,https://www.metacritic.com/game/xbox-one/ooo-a...,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",https://www.metacritic.com/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",NaN,E
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,https://www.metacritic.com/game/game-boy-advan...,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E

### Beschreibungen: 

Gibt eine grobe Übersicht über das jeweilige Datenset:

Main-Dataset:

In [9]:
metacrit_data.columns

Index(['game_name', 'meta_score', 'user_score', 'platform', 'description',
       'url', 'developer', 'genre', 'type', 'rating'],
      dtype='object')

In [10]:
metacrit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8831 entries, 0 to 8830
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   game_name    8831 non-null   object
 1   meta_score   8831 non-null   float64
 2   user_score   8831 non-null   float64
 3   platform     8831 non-null   object
 4   description  8831 non-null   object
 5   url          8831 non-null   object
 6   developer    8821 non-null   object
 7   genre        8827 non-null   object
 8   type         6727 non-null   object
 9   rating       7691 non-null   object
dtypes: float64(2), object(8)
memory usage: 690.0+ KB

In [11]:
metacrit_data.shape

(8831, 10)

In [12]:
metacrit_data.describe()

        meta_score   user_score
count  8831.000000  8831.000000
mean     70.876621    69.903918
std      12.181944    13.161456
min      11.000000     2.000000
25%      63.000000    63.000000
50%      73.000000    72.800000
75%      80.000000    79.000000
max      99.000000    98.000000

In [13]:
releasedata.publisher.unique()

array(['Virgin Interactive', 'LucasArts', 'SCEA', ..., 'Deeli network',
       'Undercoders', 'Snap Finger Click Ltd'], dtype=object)

In [14]:
releasedata.developer.unique()

array(['Westwood Studios', 'LucasArts', 'Tamsoft', ..., 'Deeli network',
       'Undercoders', 'Snap Finger Click Ltd'], dtype=object)

In [15]:
metacrit_data.developer.unique()

array(['Nintendo', 'Nintendo EAD Tokyo ', 'Retro Studios', ...,
       'PuzzleKings', 'Kiloo', 'Kenny Creanor'], dtype=object)

Second-Dataset:

In [16]:
releasedata.columns

Index(['name', 'platform', 'developer', 'publisher', 'genre(s)', 'players',
       'rating', 'attribute', 'release_date', 'link', 'critic_positive',
       'critic_neutral', 'critic_negative', 'metascore', 'user_positive',
       'user_neutral', 'user_negative', 'user_score'],
      dtype='object')

In [17]:
releasedata.describe()

,critic_positive,critic_neutral,critic_negative,metascore,user_positive,user_neutral,user_negative
count,20422.000000,20422.000000,20422.000000,20422.000000,20422.000000,20422.000000,20422.000000
mean,10.807463,7.237391,1.529331,68.826902,16.880472,4.607580,6.389874
std,14.997891,7.239200,3.182006,13.248435,71.851614,16.328698,51.877636
min,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,0.000000,61.000000,1.000000,0.000000,0.000000
50%,5.000000,5.000000,0.000000,71.000000,3.000000,1.000000,1.000000
75%,14.000000,10.000000,2.000000,78.000000,10.000000,3.000000,3.000000
max,118.000000,60.000000,51.000000,99.000000,3029.000000,507.000000,3001.000000

In [18]:
releasedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20422 entries, 0 to 20421
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             20422 non-null  object
 1   platform         20422 non-null  object
 2   developer        20385 non-null  object
 3   publisher        20416 non-null  object
 4   genre(s)         20422 non-null  object
 5   players          13193 non-null  object
 6   rating           18131 non-null  object
 7   attribute        324 non-null    object
 8   release_date     20422 non-null  object
 9   link             20422 non-null  object
 10  critic_positive  20422 non-null  int64
 11  critic_neutral   20422 non-null  int64
 12  critic_negative  20422 non-null  int64
 13  metascore        20422 non-null  int64
 14  user_positive    20422 non-null  int64
 15  user_neutral     20422 non-null  int64
 16  user_negative    20422 non-null  int64
 17  user_score       20422 non-null  object
dtypes: int64(7), object(11)
memory usage: 2.8+ MB

### Anpassung der Datensätze:

In [19]:
#Anpassung der URL Spalte an die Link Spalte des release_data - Datensatzes um ein mergen anhand der eizigartigen Internet-Adresse zu ermöglichen.
metacrit_data.url = metacrit_data.url.str.replace("https://www.metacritic.com/", "/")
metacrit_data

C:\Users\Marek\AppData\Local\Temp/ipykernel_26152/3687954423.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  metacrit_data.url = metacrit_data.url.str.replace("https://www.metacritic.com/", "/")

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,/game/wii/super-mario-galaxy,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",/game/wii/super-mario-galaxy-2,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,/game/gamecube/metroid-prime,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,/game/switch/super-mario-odyssey,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+
...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,/game/xbox-one/ooo-ascension,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",NaN,E
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,/game/game-boy-advance/xxx,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E

In [20]:
#Aufsplittung der Genre Spalte in einzelne Spalten für einfachere Übersicht:
metacrit_data[["genre1","genre2","genre3","genre4","genre5","genre6","genre7","genre8","genre9","genre10"]] = metacrit_data["genre"].str.split(",", expand=True) 
metacrit_data

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],None,None,None,None,None,None,None,None
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,/game/wii/super-mario-galaxy,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],None,None,None,None,None,None,None
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",/game/wii/super-mario-galaxy-2,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],None,None,None,None,None,None,None
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,/game/gamecube/metroid-prime,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T,['Action','Shooter','First-Person','Sci-Fi'],None,None,None,None,None,None
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,/game/switch/super-mario-odyssey,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+,['Action','Platformer','3D'],None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T,['Action','Shooter','Third-Person','Modern'],None,None,None,None,None,None
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+,['Driving','Racing','Arcade','Automobile'],None,None,None,None,None,None
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,/game/xbox-one/ooo-ascension,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E,['Action','General','Arcade'],None,None,None,None,None,None,None
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",NaN,E,['Miscellaneous','General'],None,None,None,None,None,None,None,None
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,/game/game-boy-advance/xxx,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E,['Action','Platformer','2D'],None,None,None,None,None,None,None

In [21]:
#Erstellung eines neuen Datensatzes mit den Spalten des releasedata-Datensatzes, welche mit dem Main-Datensatzes gemerged werden sollen
releasedata_mergeprep= releasedata[["publisher", "players", "release_date", "link", "critic_positive", "critic_neutral", "critic_negative", "user_positive", "user_neutral", "user_negative"] ].copy()
releasedata_mergeprep

,publisher,players,release_date,link,critic_positive,critic_neutral,critic_negative,user_positive,user_neutral,user_negative
0,Virgin Interactive,1-4,"Aug 31, 1995",/game/pc/command-conquer,5,0,0,47,0,1
1,LucasArts,NaN,"Apr 30, 1995",/game/pc/full-throttle,6,2,0,18,1,0
2,SCEA,1-2,"Sep 9, 1995",/game/playstation/battle-arena-toshinden,1,3,0,1,0,1
3,MicroProse,1 Player,"Feb 29, 1996",/game/pc/sid-meiers-civilization-ii,7,0,0,46,0,1
4,id Software,1-16,"Jun 22, 1996",/game/pc/quake,9,0,0,84,4,1
...,...,...,...,...,...,...,...,...,...,...
20417,Studio Wildcard,Online Multiplayer,"Nov 30, 2018",/game/switch/ark-survival-evolved,0,1,11,4,0,5
20418,NaN,Online Multiplayer,"May 10, 2018",/game/pc/wild-west-online,0,0,8,0,0,9
20419,Square Enix,No Online Multiplayer,"Nov 1, 2018",/game/playstation-4/the-quiet-man,1,0,20,5,0,19
20420,Snap Finger Click Ltd,No Online Multiplayer,"Jul 5, 2018",/game/switch/awkward,0,0,4,0,0,2
20421,D3Publisher,No Online Multiplayer,"Jan 25, 2018",/game/switch/tennis,0,0,4,1,0,0

In [22]:
#Merge die Ausgewählten Spalten des releasedata-Datensatzes mit dem Main-Datensatz anhand der URL und LINK Spalte. 
metacrit_data = pd.merge(metacrit_data, releasedata_mergeprep, left_on=["url"], right_on=["link"], how="left").fillna(0)
metacrit_data

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,publisher,players,release_date,link,critic_positive,critic_neutral,critic_negative,user_positive,user_neutral,user_negative
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],0,0,0,0,0,0,0,0,Nintendo,1 Player,"Nov 23, 1998",/game/nintendo-64/the-legend-of-zelda-ocarina-...,22.0,0.0,0.0,918.0,42.0,37.0
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,/game/wii/super-mario-galaxy,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Nov 12, 2007",/game/wii/super-mario-galaxy,73.0,0.0,0.0,608.0,46.0,26.0
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",/game/wii/super-mario-galaxy-2,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"May 23, 2010",/game/wii/super-mario-galaxy-2,87.0,0.0,0.0,294.0,16.0,15.0
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,/game/gamecube/metroid-prime,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T,['Action','Shooter','First-Person','Sci-Fi'],0,0,0,0,0,0,Nintendo,1 Player,"Nov 17, 2002",/game/gamecube/metroid-prime,70.0,0.0,0.0,267.0,20.0,9.0
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,/game/switch/super-mario-odyssey,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Oct 27, 2017",/game/switch/super-mario-odyssey,113.0,0.0,0.0,1068.0,65.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T,['Action','Shooter','Third-Person','Modern'],0,0,0,0,0,0,Namco,1 Player,"Oct 28, 2003",/game/xbox/killswitch,16.0,10.0,0.0,5.0,1.0,1.0
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+,['Driving','Racing','Arcade','Automobile'],0,0,0,0,0,0,Deep Silver,No Online Multiplayer,"Nov 30, 2010",/game/pc/naild,5.0,8.0,0.0,4.0,2.0,1.0
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,/game/xbox-one/ooo-ascension,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E,['Action','General','Arcade'],0,0,0,0,0,0,0,Extra Mile Studios,Online Multiplayer,"May 25, 2018",/game/xbox-one/ooo-ascension,4.0,4.0,0.0,2.0,1.0,0.0
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",0,E,['Miscellaneous','General'],0,0,0,0,0,0,0,0,THQ,0,"Nov 14, 2010",/game/wii/udraw-studio,2.0,7.0,0.0,1.0,0.0,0.0
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,/game/game-boy-advance/xxx,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E,['Action','Platformer','2D'],0,0,0,0,0,0,0,Activision,1 Player,"Jul 31, 2002",/game/game-boy-advance/xxx,1.0,6.0,6.0,1.0,1.0,1.0

### Berechnungen:

##### Allgemeines:

In [23]:
#Maximum von Spalten

In [24]:
#Uniques Werte von Genre

In [25]:
#Boxplots

In [26]:
metacrit_data

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,publisher,players,release_date,link,critic_positive,critic_neutral,critic_negative,user_positive,user_neutral,user_negative
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],0,0,0,0,0,0,0,0,Nintendo,1 Player,"Nov 23, 1998",/game/nintendo-64/the-legend-of-zelda-ocarina-...,22.0,0.0,0.0,918.0,42.0,37.0
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,/game/wii/super-mario-galaxy,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Nov 12, 2007",/game/wii/super-mario-galaxy,73.0,0.0,0.0,608.0,46.0,26.0
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",/game/wii/super-mario-galaxy-2,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"May 23, 2010",/game/wii/super-mario-galaxy-2,87.0,0.0,0.0,294.0,16.0,15.0
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,/game/gamecube/metroid-prime,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T,['Action','Shooter','First-Person','Sci-Fi'],0,0,0,0,0,0,Nintendo,1 Player,"Nov 17, 2002",/game/gamecube/metroid-prime,70.0,0.0,0.0,267.0,20.0,9.0
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,/game/switch/super-mario-odyssey,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Oct 27, 2017",/game/switch/super-mario-odyssey,113.0,0.0,0.0,1068.0,65.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T,['Action','Shooter','Third-Person','Modern'],0,0,0,0,0,0,Namco,1 Player,"Oct 28, 2003",/game/xbox/killswitch,16.0,10.0,0.0,5.0,1.0,1.0
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+,['Driving','Racing','Arcade','Automobile'],0,0,0,0,0,0,Deep Silver,No Online Multiplayer,"Nov 30, 2010",/game/pc/naild,5.0,8.0,0.0,4.0,2.0,1.0
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,/game/xbox-one/ooo-ascension,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E,['Action','General','Arcade'],0,0,0,0,0,0,0,Extra Mile Studios,Online Multiplayer,"May 25, 2018",/game/xbox-one/ooo-ascension,4.0,4.0,0.0,2.0,1.0,0.0
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",0,E,['Miscellaneous','General'],0,0,0,0,0,0,0,0,THQ,0,"Nov 14, 2010",/game/wii/udraw-studio,2.0,7.0,0.0,1.0,0.0,0.0
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,/game/game-boy-advance/xxx,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E,['Action','Platformer','2D'],0,0,0,0,0,0,0,Activision,1 Player,"Jul 31, 2002",/game/game-boy-advance/xxx,1.0,6.0,6.0,1.0,1.0,1.0

# Hypothese 1:

### Vorbereitungen:

In [27]:
#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def mean_gen_meta(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0)]["meta_score"].mean()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def median_gen_meta(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0)]["meta_score"].median()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def mean_gen_user(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0)]["user_score"].mean()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def median_gen_user(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0)]["user_score"].median()

#Überprüfung:
n=1
metacrit_data[(metacrit_data[("genre"+ str(n))] != 0)]["meta_score"].mean()   

#Manuell: Gibt den durchschnittlichen Meta Score für aller Spiele wieder, die ein zehn Genres haben
filt10=(metacrit_data["genre10"] != 0)
gen10=metacrit_data[filt10]
gen10["meta_score"].mean()

#Überprüfung ob Funktion funktioniert:
mean_gen_meta(10)

78.67

In [28]:
#Diese Funktionen geben das aritmethische Mittel oder den Median des Metascores bzw. Userscores in Abhänigkeit der Genreanzahl wieder.

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl:
def mean_gen_only_meta(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0) & (metacrit_data["genre"+str(n+1)]==0)] ["meta_score"].mean()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def median_gen_only_meta(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0) & (metacrit_data["genre"+str(n+1)]==0)] ["meta_score"].median()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def mean_gen_only_user(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0) & (metacrit_data["genre"+str(n+1)]==0)] ["user_score"].mean()

#Funktion für arithmetisches Mittel abhängig von der Genre Anzahl
def median_gen_only_user(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0) & (metacrit_data["genre"+str(n+1)]==0)] ["user_score"].median()

In [29]:
#Gibt das aritmethische Mittel des Meta Scores für jede nach "Genre-Spalte" an.
x=1
while x<10:
    print("genre"+ str(x), ": ",mean_gen_only_meta(x))
    x=x+1
print("genre10 : " + str(mean_gen_meta(10)) )

genre1 :  71.0
genre2 :  70.74314465408808
genre3 :  70.85366177498254
genre4 :  71.0050836289914
genre5 :  71.35331491712708
genre6 :  69.89884773662551
genre7 :  67.80864864864866
genre8 :  69.75421052631579
genre9 :  67.46000000000001
genre10 : 78.67

In [30]:
#Gibt den Median des Meta Scores für jede nach "Genre-Spalte" an.
x=1
while x<10:
    print("genre"+ str(x), ": ",median_gen_only_meta(x))
    x=x+1

genre1 :  71.0
genre2 :  73.0
genre3 :  73.0
genre4 :  74.0
genre5 :  74.0
genre6 :  73.0
genre7 :  72.75
genre8 :  70.0
genre9 :  67.46000000000001

In [31]:
#Gibt das aritmethische Mittel des User Scores für jede nach "Genre-Spalte" an.
x=1
while x<11:
    print("genre"+ str(x), ": ",mean_gen_user(x))
    x=x+1

genre1 :  69.90376118726634
genre2 :  69.9038635848629
genre3 :  69.68318584070796
genre4 :  69.11559094719198
genre5 :  69.16500622665005
genre6 :  67.39262536873159
genre7 :  66.809375
genre8 :  65.85000000000001
genre9 :  64.83333333333333
genre10 :  46.3

In [32]:
#Gibt den Median des User Scores für jede nach "Genre-Spalte" an.
x=1
while x<11:
    print("genre"+ str(x), ": ",median_gen_user(x))
    x=x+1

genre1 :  73.0
genre2 :  73.0
genre3 :  72.5
genre4 :  72.0
genre5 :  72.0
genre6 :  71.0
genre7 :  70.0
genre8 :  70.85
genre9 :  71.0
genre10 :  46.3

"Test Area"

In [33]:
metacrit_data

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,publisher,players,release_date,link,critic_positive,critic_neutral,critic_negative,user_positive,user_neutral,user_negative
0,The Legend of Zelda: Ocarina of Time,99.0,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],0,0,0,0,0,0,0,0,Nintendo,1 Player,"Nov 23, 1998",/game/nintendo-64/the-legend-of-zelda-ocarina-...,22.0,0.0,0.0,918.0,42.0,37.0
1,Super Mario Galaxy,97.0,91.0,['wii'],[Metacritic's 2007 Wii Game of the Year] The u...,/game/wii/super-mario-galaxy,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Nov 12, 2007",/game/wii/super-mario-galaxy,73.0,0.0,0.0,608.0,46.0,26.0
2,Super Mario Galaxy 2,97.0,91.0,['wii'],"Super Mario Galaxy 2, the sequel to the galaxy...",/game/wii/super-mario-galaxy-2,Nintendo EAD Tokyo,"['Action', 'Platformer', '3D']",singleplayer,E,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"May 23, 2010",/game/wii/super-mario-galaxy-2,87.0,0.0,0.0,294.0,16.0,15.0
3,Metroid Prime,97.0,89.0,['gamecube'],Samus returns in a new mission to unravel the ...,/game/gamecube/metroid-prime,Retro Studios,"['Action', 'Shooter', 'First-Person', 'Sci-Fi']",singleplayer,T,['Action','Shooter','First-Person','Sci-Fi'],0,0,0,0,0,0,Nintendo,1 Player,"Nov 17, 2002",/game/gamecube/metroid-prime,70.0,0.0,0.0,267.0,20.0,9.0
4,Super Mario Odyssey,97.0,89.0,['switch'],New Evolution of Mario Sandbox-Style Gameplay....,/game/switch/super-mario-odyssey,Nintendo,"['Action', 'Platformer', '3D']",singleplayer,E10+,['Action','Platformer','3D'],0,0,0,0,0,0,0,Nintendo,No Online Multiplayer,"Oct 27, 2017",/game/switch/super-mario-odyssey,113.0,0.0,0.0,1068.0,65.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8826,kill.switch,74.0,80.5,"['xbox', 'playstation-2']","In a world on the brink of global conflict, yo...",/game/xbox/killswitch,Namco,"['Action', 'Shooter', 'Third-Person', 'Modern']",singleplayer,T,['Action','Shooter','Third-Person','Modern'],0,0,0,0,0,0,Namco,1 Player,"Oct 28, 2003",/game/xbox/killswitch,16.0,10.0,0.0,5.0,1.0,1.0
8827,nail'd,69.0,76.0,['pc'],nail’d is all about eschewing boring realism f...,/game/pc/naild,Techland,"['Driving', 'Racing', 'Arcade', 'Automobile']",singleplayer,E10+,['Driving','Racing','Arcade','Automobile'],0,0,0,0,0,0,Deep Silver,No Online Multiplayer,"Nov 30, 2010",/game/pc/naild,5.0,8.0,0.0,4.0,2.0,1.0
8828,oOo: Ascension,70.0,73.0,['xbox-one'],oOo: Ascension is a lightning-paced test of re...,/game/xbox-one/ooo-ascension,Kenny Creanor,"['Action', 'General', 'Arcade']",multiplayer,E,['Action','General','Arcade'],0,0,0,0,0,0,0,Extra Mile Studios,Online Multiplayer,"May 25, 2018",/game/xbox-one/ooo-ascension,4.0,4.0,0.0,2.0,1.0,0.0
8829,uDraw Studio,71.0,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",0,E,['Miscellaneous','General'],0,0,0,0,0,0,0,0,THQ,0,"Nov 14, 2010",/game/wii/udraw-studio,2.0,7.0,0.0,1.0,0.0,0.0
8830,xXx,50.0,50.0,['game-boy-advance'],You are underground thrill-seeker turned spy X...,/game/game-boy-advance/xxx,Digital Eclipse,"['Action', 'Platformer', '2D']",singleplayer,E,['Action','Platformer','2D'],0,0,0,0,0,0,0,Activision,1 Player,"Jul 31, 2002",/game/game-boy-advance/xxx,1.0,6.0,6.0,1.0,1.0,1.0

In [34]:
filt10=(metacrit_data["genre10"] != 0)
gen10=metacrit_data[filt10]
gen10["meta_score"].mean()

78.67

In [35]:
filt_only = (metacrit_data["genre2"]!=0) & (metacrit_data["genre3"]==0)

In [36]:
#Funktion für aritmethisches Mittel abhängig von der Genre Anzahl
def mean_gen_meta_only(n):
    return metacrit_data[(metacrit_data[("genre"+ str(n))] != 0) & (metacrit_data["genre"+str(n+1)]==0)] ["meta_score"].mean()

In [37]:
mean_gen_meta_only(2)

70.74314465408808

In [38]:
mean_gen_meta(2)

70.87530478132797

In [39]:
n=4
print("genre"+str(n+1))

genre5

In [40]:
metacrit_data[filt_only]

,game_name,meta_score,user_score,platform,description,url,developer,genre,type,rating,genre1,genre2,genre3,genre4,genre5,genre6,genre7,genre8,genre9,genre10,publisher,players,release_date,link,critic_positive,critic_neutral,critic_negative,user_positive,user_neutral,user_negative
0,The Legend of Zelda: Ocarina of Time,99.00,91.0,['nintendo-64'],"As a young boy, Link is tricked by Ganondorf, ...",/game/nintendo-64/the-legend-of-zelda-ocarina-...,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],0,0,0,0,0,0,0,0,Nintendo,1 Player,"Nov 23, 1998",/game/nintendo-64/the-legend-of-zelda-ocarina-...,22.0,0.0,0.0,918.0,42.0,37.0
6,The House in Fata Morgana - Dreams of the Reve...,97.00,83.0,['switch'],A gothic suspense tale set in a cursed mansion...,/game/switch/the-house-in-fata-morgana---dream...,HuneX,"['Adventure', 'Visual Novel']",singleplayer,M,['Adventure','Visual Novel'],0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
10,The Legend of Zelda: The Wind Waker,96.00,90.0,['gamecube'],In this ninth entry in the Legend of Zelda ser...,/game/gamecube/the-legend-of-zelda-the-wind-waker,Nintendo,"['Action Adventure', 'Fantasy']",singleplayer,E,['Action Adventure','Fantasy'],0,0,0,0,0,0,0,0,Nintendo,1 Player,"Mar 24, 2003",/game/gamecube/the-legend-of-zelda-the-wind-waker,80.0,0.0,0.0,289.0,40.0,25.0
12,Metal Gear Solid 2: Sons of Liberty,96.00,88.0,['playstation-2'],"Since the incident on Shadow Moses Island, Met...",/game/playstation-2/metal-gear-solid-2-sons-of...,KCEJ,"['Action Adventure', 'Modern']",singleplayer,M,['Action Adventure','Modern'],0,0,0,0,0,0,0,0,Konami,1 Player,"Nov 12, 2001",/game/playstation-2/metal-gear-solid-2-sons-of...,42.0,0.0,0.0,249.0,31.0,26.0
13,Grand Theft Auto Double Pack,96.00,81.0,['xbox'],From the dark and seedy streets of Liberty Cit...,/game/xbox/grand-theft-auto-double-pack,Rockstar North,"['Miscellaneous', 'Compilation']",singleplayer,M,['Miscellaneous','Compilation'],0,0,0,0,0,0,0,0,Rockstar Games,1 Player,"Oct 31, 2003",/game/xbox/grand-theft-auto-double-pack,33.0,0.0,0.0,32.0,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,Zathura,48.00,54.0,['xbox'],The intergalactic journey begins when a myster...,/game/xbox/zathura,High Voltage Software,"['Action Adventure', 'Sci-Fi']",singleplayer,E10+,['Action Adventure','Sci-Fi'],0,0,0,0,0,0,0,0,2K Games,1 Player,"Nov 2, 2005",/game/xbox/zathura,0.0,7.0,8.0,1.0,0.0,1.0
8806,Zero Escape: Zero Time Dilemma,80.33,76.7,"['playstation-vita', 'playstation-4', 'pc']",Zero Time Dilemma is the third entry in the ac...,/game/playstation-vita/zero-escape-zero-time-d...,Spike Chunsoft,"['Adventure', 'Visual Novel']",singleplayer,M,['Adventure','Visual Novel'],0,0,0,0,0,0,0,0,Aksys Games,No Online Multiplayer,"Jun 28, 2016",/game/playstation-vita/zero-escape-zero-time-d...,26.0,5.0,0.0,8.0,6.0,3.0
8811,Zone of the Enders HD Collection,75.00,79.0,['xbox-360'],Zone of the Enders HD Collection bundles toget...,/game/xbox-360/zone-of-the-enders-hd-collection,High Voltage Software,"['Miscellaneous', 'Compilation']",singleplayer,M,['Miscellaneous','Compilation'],0,0,0,0,0,0,0,0,Konami,0,"Oct 30, 2012",/game/xbox-360/zone-of-the-enders-hd-collection,11.0,9.0,1.0,1.0,2.0,0.0
8817,Zwei: The Ilvard Insurrection,79.00,80.0,['pc'],In a world where magic and technology exist si...,/game/pc/zwei-the-ilvard-insurrection,Falcom,"['Role-Playing', 'Action RPG']",singleplayer,0,['Role-Playing','Action RPG'],0,0,0,0,0,0,0,0,XSEED Games,0,"Oct 31, 2017",/game/pc/zwei-the-ilvard-insurrection,5.0,3.0,0.0,2.0,0.0,0.0
8829,uDraw Studio,71.00,71.0,['wii'],"Packaged with the uDraw GameTablet, uDraw Stud...",/game/wii/udraw-studio,THQ,"['Miscellaneous', 'General']",0,E,['Miscellaneous','General'],0,0,0,0,0,0,0,0,THQ,0,"Nov 14, 2010",/game/wii/udraw-studio,2.0,7.0,0.0,1.0,0.0,0.0

In [41]:
genre=metacrit_data["genre"].str.split(",")
genre

0                      [['Action Adventure',  'Fantasy']]
1                      [['Action',  'Platformer',  '3D']]
2                      [['Action',  'Platformer',  '3D']]
3       [['Action',  'Shooter',  'First-Person',  'Sci...
4                      [['Action',  'Platformer',  '3D']]
                              ...
8826    [['Action',  'Shooter',  'Third-Person',  'Mod...
8827    [['Driving',  'Racing',  'Arcade',  'Automobil...
8828                  [['Action',  'General',  'Arcade']]
8829                      [['Miscellaneous',  'General']]
8830                   [['Action',  'Platformer',  '2D']]
Name: genre, Length: 8831, dtype: object

In [42]:
metacrit_data["genre"].convert_dtypes().str

In [43]:
hh=metacrit_data["genre"].str.split(",")

In [44]:
dftest=pd.DataFrame(hh)
dftest

                                                  genre
0                    [['Action Adventure',  'Fantasy']]
1                    [['Action',  'Platformer',  '3D']]
2                    [['Action',  'Platformer',  '3D']]
3     [['Action',  'Shooter',  'First-Person',  'Sci...
4                    [['Action',  'Platformer',  '3D']]
...                                                 ...
8826  [['Action',  'Shooter',  'Third-Person',  'Mod...
8827  [['Driving',  'Racing',  'Arcade',  'Automobil...
8828                [['Action',  'General',  'Arcade']]
8829                    [['Miscellaneous',  'General']]
8830                 [['Action',  'Platformer',  '2D']]

[8831 rows x 1 columns]

In [45]:
gen_list=metacrit_data["genre"].str.split(",")
len(gen_list[8830])

3

In [46]:
stringvar = "one;two;three;four"

lst = stringvar.split(";")
stringcount = len(lst)
stringcount

4

In [47]:
while metacrit_data[("genre"+ str(n))] != 0:

IndentationError: expected an indented block (Temp/ipykernel_26152/669633469.py, line 2)

In [ ]:
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
df

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc

In [ ]:
df["Test"] = 1
df

     Name  Height Qualification  Test
0     Jai     5.1           Msc     1
1  Princi     6.2            MA     1
2  Gaurav     5.1           Msc     1
3    Anuj     5.2           Msc     1

In [ ]:
x=0
while x < 6:
    df["Test"] = len(gen_list[x])
    x=x+1

In [ ]:

metacrit_data.loc[1,("genre"+ str(1))]

"['Action'"

In [ ]:
def counting(r,g):
    
    if metacrit_data.loc[g,("genre"+ str[r])] !=0:
        n=n+1
        r=r+1
        counting()
    else:
        df[g,"niche_width"]=n
        g=g+1
        counting()

In [ ]:
n=0
if metacrit_data.loc[1,("genre"+ str[1])] !=0:
        n=n+1

TypeError: 'type' object is not subscriptable

In [ ]:
x=0
while x<7:
    count(0,1)
    x=x+1

TypeError: 'type' object is not subscriptable

In [ ]:
df.loc[1,"test2"]=7
df

     Name  Height Qualification  Test  test2
0     Jai     5.1           Msc     4    NaN
1  Princi     6.2            MA     4    7.0
2  Gaurav     5.1           Msc     4    NaN
3    Anuj     5.2           Msc     4    NaN

In [ ]:
df.loc[0,"test2"]=5
df

     Name  Height Qualification  Test  test2
0     Jai     5.1           Msc     4    5.0
1  Princi     6.2            MA     4    7.0
2  Gaurav     5.1           Msc     4    NaN
3    Anuj     5.2           Msc     4    NaN

In [62]:
metacrit_data["genre1"].notnull()

0       True
1       True
2       True
3       True
4       True
        ...
8826    True
8827    True
8828    True
8829    True
8830    True
Name: genre1, Length: 8831, dtype: bool